<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <app-command-list [status]=1>
            </app-command-list>
        </div>
        <div class="col-md-6">
            <app-command-list [status]=2>
            </app-command-list>
        </div>

        <div class="col-md-6">
            <app-command-list [status]=4>
            </app-command-list>
        </div>
        <div class="row"></div>
        <div class="col-md-6">
            <app-command-list [status]=3>
            </app-command-list>
        </div>

    </div>
</div>