<div class="container">
    <div class="row border-bottom">
      <div class="col-md-2">{{ idCommande }}</div>
      <div class="col-md-2">{{ idMag }}</div>
      <div class="col-md-2">{{ idEnt }}</div>
      <div class="col-md-2">{{ idProduit }}</div>
      <div class="col-md-2" ><button id="btnFA" onClick="window.location.reload();" class="btn btn-primary button-cmd" [disabled]="!isDowngrable" (click)="downgradeCommand()">Down</button></div>
      <div class="col-md-2" ><button id="btnFA" onClick="window.location.reload();" class="btn btn-primary button-cmd" [disabled]="!isUpgradable" (click)="upgradeCommand()">Up</button></div>
    </div>
  </div>