<div class="container-fluid center">
    <br>
    <div class='row'>
        <div class="col-md">
            <div>Database version</div>
            <br>
        </div>
    </div>
    <div class='row'>
        <div class="col-md-4">
            <table class="table table-bordered">
                <thead class="thead-light table-text">
                    <tr>
                        <th>Current</th>
                        <th>Target</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{currentDB}}</td>
                        <td>{{targetDB}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md">
            <br> <button type="button" class="btn btn-success" [disabled]="!isUpToDate">Update database</button>
        </div>
    </div>
    <div class='row'>
        <div class="col-md-4">
            <table class="table table-bordered">
                <thead class="thead-light table-text">
                    <tr>
                        <th>Back-End</th>
                        <th>Front-End</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{backEndVersion}}</td>
                        <td>{{frontEndVersion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <br><br>
        Database - META-DATA
        <br><br>
    </div>
    <div class="row">
        <div class="col-md6">
            <table class="table table-bordered table-text">
                <thead class="thead-light">
                    <tr>
                        <th>DatabaseProductName</th>
                        <th>DatabaseProductVersion</th>
                        <th>DriverVersion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>{{dbPdName}}</th>
                        <th>{{dbPdVersion}}</th>
                        <th>{{driverVersion}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" (click)="subClear()"> Clear All</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" (click)="subClearToday()"> Clear 4 status</button>
        </div>
    </div>
</div>